{% extends "_layouts/base.njk" %}

{% set title = 'Topics' %}
{% set is_topics = true %}

{% block content %}
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="py-8">
            <h2 class="text-2xl font-semibold text-gray-800">Topics Course</h2>
            <span class="text-gray-600">Lorem ipsum dolor sit amet</span>
        </div>
        <div class="pb-8">
            <div class="grid grid-cols-4 gap-4 mb-4">
                {% for item in data_topics %}
                    <a href="{{base_url}}pages/topics-detail.html">
                        <div class="shadow rounded-lg bg-white">
                            <div class="py-4 px-5">
                                <div class="flex">
                                    <img src="{{ item['thumb'] }}" 
                                    class="h-12 w-12"
                                    alt="">
                                    <div class="ml-4">
                                        <div class="font-medium">{{ item['title'] }}</div>
                                        <span class="text-sm text-gray-400">{{ item['count'] }} Courses</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}