{% extends "_layouts/base.njk" %}

{% set title='Home' %}
{% set is_topics=true %}

{% block content %}
<div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="py-8">
        <div class="flex">
            <img src="https://parsinta.com/vendor/logo/laravel.svg" 
                class="h-14 w-14"
                alt="">
            <div class="ml-4">
                <h2 class="text-2xl font-semibold text-gray-800">Topics Course</h2>
                <span class="text-gray-600">Lorem ipsum dolor sit amet</span>
            </div>
        </div>
    </div>
    <div class="mb-8">
        <div class="grid grid-cols-4 gap-4 mb-4">
            {% for item in data_courses.slice(0, 10) %}
                <a href="{{base_url}}pages/courses-detail.html" class="block">
                    <div class="shadow rounded-lg bg-white h-full">
                        <div class="p-2">
                            <img src="{{ item['thumb'] }}" 
                                class="rounded-lg"
                                alt="">
                        </div>
                        <div class="py-4 px-5">
                            <div class="">
                                <div class="font-medium leading-tight">{{ item['title'] }}</div>
                                <span class="text-sm text-gray-400">{{ range(1, 20) | random }} Materi</span>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}