<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title + " - " if title else "" }} {{ site_name }}</title>
    <base href="{{ base_url }}">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="h-full bg-blue-50 bg-opacity-25">
    <div class="max-w-md py-4 mx-auto">
        <div class="shadow rounded-lg bg-white">
            <div class="p-4">
                <a 
                    href="{{ base_url }}pages/home.html"
                    class="block hover:bg-gray-100 py-1 px-2 rounded-lg text-gray-600">
                    <span class="font-mono">[x]</span>
                    <span>Home</span>
                </a>
                <a 
                    href="{{ base_url }}pages/topics.html"
                    class="block hover:bg-gray-100 py-1 px-2 rounded-lg text-gray-600">
                    <span class="font-mono">[x]</span>
                    <span>Topics</span>
                </a>
                <a 
                    href="{{ base_url }}pages/topics-detail.html"
                    class="block hover:bg-gray-100 py-1 px-2 rounded-lg text-gray-600">
                    <span class="font-mono">[x]</span>
                    <span>Topics Detail</span>
                </a>
                <a 
                    href="{{ base_url }}pages/courses.html"
                    class="block hover:bg-gray-100 py-1 px-2 rounded-lg text-gray-600">
                    <span class="font-mono">[x]</span>
                    <span>Courses</span>
                </a>
                <a 
                    href="{{ base_url }}pages/courses-detail.html"
                    class="block hover:bg-gray-100 py-1 px-2 rounded-lg text-gray-600">
                    <span class="font-mono">[x]</span>
                    <span>Courses Detail</span>
                </a>
                <a 
                    href="{{ base_url }}pages/courses-detail2.html"
                    class="block hover:bg-gray-100 py-1 px-2 rounded-lg text-gray-600">
                    <span class="font-mono">[x]</span>
                    <span>Courses Detail Desc</span>
                </a>
                <a 
                    href="{{ base_url }}pages/materi2.html"
                    class="block hover:bg-gray-100 py-1 px-2 rounded-lg text-gray-600">
                    <span class="font-mono">[x]</span>
                    <span>Materi</span>
                </a>
                <a 
                    href="{{ base_url }}pages/materi.html"
                    class="block hover:bg-gray-100 py-1 px-2 rounded-lg text-gray-600">
                    <span class="font-mono">[x]</span>
                    <span>Materi Video</span>
                </a>
                <a 
                    href="{{ base_url }}pages/quiz.html"
                    class="block hover:bg-gray-100 py-1 px-2 rounded-lg text-gray-600">
                    <span class="font-mono">[x]</span>
                    <span>Quiz</span>
                </a>
                <a 
                    href="{{ base_url }}pages/quiz-process.html"
                    class="block hover:bg-gray-100 py-1 px-2 rounded-lg text-gray-600">
                    <span class="font-mono">[x]</span>
                    <span>Quiz Process</span>
                </a>
                <a 
                    href="{{ base_url }}pages/quiz-result.html"
                    class="block hover:bg-gray-100 py-1 px-2 rounded-lg text-gray-600">
                    <span class="font-mono">[x]</span>
                    <span>Quiz Result</span>
                </a>
                <a 
                    href="{{ base_url }}pages/challenges.html"
                    class="block hover:bg-gray-100 py-1 px-2 rounded-lg text-gray-600">
                    <span class="font-mono">[x]</span>
                    <span>Challenges</span>
                </a>
                <a 
                    href="{{ base_url }}pages/member.html"
                    class="block hover:bg-gray-100 py-1 px-2 rounded-lg text-gray-600">
                    <span class="font-mono">[x]</span>
                    <span>Dashbaord Member</span>
                </a>
                <a 
                    href="{{ base_url }}pages/login.html"
                    class="block hover:bg-gray-100 py-1 px-2 rounded-lg text-gray-600">
                    <span class="font-mono">[x]</span>
                    <span>Login</span>
                </a>
                <a 
                    href="{{ base_url }}pages/register.html"
                    class="block hover:bg-gray-100 py-1 px-2 rounded-lg text-gray-600">
                    <span class="font-mono">[x]</span>
                    <span>Register</span>
                </a>
                <a 
                    href="{{ base_url }}pages/dashboard.html"
                    class="block hover:bg-gray-100 py-1 px-2 rounded-lg text-gray-600">
                    <span class="font-mono">[x]</span>
                    <span>Dashbaord Admin</span>
                </a>
                <a 
                    href="{{ base_url }}pages/manage-course.html"
                    class="block hover:bg-gray-100 py-1 px-2 rounded-lg text-gray-600">
                    <span class="font-mono">[x]</span>
                    <span>Manage Course</span>
                </a>
                <a 
                    href="{{ base_url }}pages/create-course.html"
                    class="block hover:bg-gray-100 py-1 px-2 rounded-lg text-gray-600">
                    <span class="font-mono">[x]</span>
                    <span>Create Course</span>
                </a>
                <a 
                    href="{{ base_url }}pages/add-materi.html"
                    class="block hover:bg-gray-100 py-1 px-2 rounded-lg text-gray-600">
                    <span class="font-mono">[x]</span>
                    <span>Add Materi</span>
                </a>
                <a 
                    href="{{ base_url }}pages/add-quiz.html"
                    class="block hover:bg-gray-100 py-1 px-2 rounded-lg text-gray-600">
                    <span class="font-mono">[x]</span>
                    <span>Add Quiz</span>
                </a>
            </div>
        </div>
    </div>
</body>
</html>