<footer class="text-sm">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16 border-t border-gray-200">
            <div class="flex-1 flex justify-center sm:items-stretch sm:justify-start">
                <span class="text-gray-400">© 2022 All Rights Reserved.</span>
            </div>
            <div class="space-x-4">
                <a href="" class="text-gray-400 hover:underline">Privacy</a>
                <a href="" class="text-gray-400 hover:underline">Terms</a>
                <a href="" class="text-gray-400 hover:underline">Feedback</a>
                <a href="" class="text-gray-400 hover:underline">Support</a>
            </div>
        </div>
    </div>
</footer>


